body {
  margin: 0;
  padding-left: 36px;
  font-family: gill sans, sans-serif;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.title {
  position: fixed;
  min-width: 100%;
  padding-top: 36px;
  background-color: white;
}
h1 {
  margin: 0px;
}
.artist-list {
  flex: 1 0 1000px;
  padding-top: 74px;
  border-bottom: 1px solid;
}
.artist {
  max-width: 1100px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: whitesmoke;
  display: -webkit-flex;
  display: flex;
}
.artist-image {
  flex: 1 0 500px;
  margin-left: 10px;
}
figure {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
.artist-description {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.artist-name {
  flex: 0 0 28px;
  margin-top: 10px;
}
h2 {
  margin: 0px;
}
.artist-summary {
  flex: 0 0 19px;
  margin-top: 6px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-style: italic;
}
.artist-details {
  flex: 1 0 19px;
}
p {
  margin-top: 6px;
  margin-bottom: 0px;
}
.sample-track {
  flex: 0 0 19px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.footer {
  flex: 0 0 19px;
}
